@import "../../styles/base.scss";

.main__form {
  position: absolute;
  width: 29%;
  top: 20%;
  left: 10%;
  background-color: #f8faff;
  color: #3c3956;
  text-align: center;
  border-radius: 3px;
  padding: 30px;

  &-fieldset {
    @include flex-display-column;
    align-items: center;
    padding: 0;
    border: none;

    &__title {
      @include header-tablet-style;
      margin: 0;
      margin-bottom: 20px;
    }

    &__titles {
      margin-top: 20px;
      &-subtitle {
        @include header2-tablet-style;
        font-family: $regular-font;
        margin: 0;
      }

      &-description {
        margin: 0;
        padding: 5px 5px 0 5px;
        line-height: 22px;
        color: #817f96;
      }
    }

    &__searchform {
      padding: 26px 0;
    }

    &__searchbar {
      @include input-style;
      border-radius: 5px;
      background-image: url("../../assets/icons/searchIcon.svg");
      background-size: 18px;
      background-position: 95% 50%;
      background-repeat: no-repeat;
    }

    &__price-selector {
      @include flex-display-row;
      margin: 20px 0;

      &-input {
        @include input-style;
        border-radius: 5px 0 0 5px;

        &:last-child {
          border-radius: 0 5px 5px 0;
          outline: none;
        }
      }
    }

    &__beds-input {
        @include input-style;
        border-radius: 5px;
        background-image: url("../../assets/icons/bed.svg");
        background-size: 18px;
        background-position: 5% 50%;
        background-repeat: no-repeat;
        text-indent: 12%;
    }

    &__submit-button {
        margin-top: 20px;
        line-height: 50px;
        font-size: 17px;
        padding: 0 25%;
        background-color: #3063AE;
        color: white;
        border: none;
        border-radius: 60px; 
    }
  }
}

//custom styling for the tabs in the form
.react-tabs__tab-list {
  text-align: center;
  font-size: 20px;
  border-bottom: 1px solid #dcebfb;
}
.react-tabs__tab--selected {
  background: transparent;
  border-color: transparent;
  border-bottom: 2px solid #3c3956;
}
