@import '../../styles/base.scss';
.main__secondHeader {
  background-color: #f8faff;
}
.main__secondHeader .main__header-nav__list-link {
  color: #4951e1;
}
.main__secondHeader .main__header-nav__list-button {
  color: #4951e1;
  border-color: #4951e1;
}
