@import "../../styles/base.scss";

.react-3d-carousel .slider-container .slider-content .slider-single .slider-single-content {
  box-shadow: none;
}
.react-3d-carousel .slider-container {
  margin: -0px auto 0px -38%;
}
.react-3d-carousel .slider-container .slider-right {
  left: 75%;
}
.main__section {
  margin: 6% 10% 0 10%;
  margin-bottom: 48px;
  color: #3c3956;
  @include pargraph-tablet-style;

  &-firstRow {
    @include flex-display-row;
    justify-content: space-between;
    border-bottom: 1px solid #e1e5f2;
    margin-bottom: 5%;
    &-left {
      display: inline-flex;
      align-items: baseline;
    }
    &-right {
      @include flex-display-row;
      &__icon {
        margin-right: 35px;
      }
      & img {
        max-width: 32px;
        max-height: 32px;
      }
    }
  }

  &-secondRow {
    @include flex-display-row;
    &__left {
      width: 65%;
      margin-right: 25px;

      & h2 {
        @include tablet-size {
          @include header-tablet-style;

          font-family: $demibold-font;
          margin-bottom: 15px;
        }
      }

      & p {
        @include tablet-size {
          line-height: 26px;
        }
      }

      &-secondTitle {
        @include menu-tablet-style;
        font-family: $demibold-font;
        font-size: 20px;
        line-height: 24px;
        margin: 48px 0 24px 0;
      }

      &-amenities {
        @include flex-display-row;
        justify-content: flex-start;
        flex-wrap: wrap;

        &__amenity {
          display: flex;
          padding: 10px 0;
          width: 33.33%;
          text-align: left;
        }
        & img {
          max-width: 25px;
          max-height: 20px;
          margin-right: 10px;
        }
      }
    }
    
    &__right , &__right2{
      @include flex-display-column;
      align-items: center;
      text-align: center;
      width: 30%;
      padding: 0 30px;
      background: #fff;
      border-radius: 10px;
      padding-top: 20px;
      z-index: 1;
      overflow: hidden;
      box-shadow: 0 14px 40px rgba(0, 22, 84, 0.08);

      &-avatar {
        @include subheader-tablet-style;
        width: 120px;
        height: 120px;
        margin-bottom: 30px;
        line-height: 120px;
        text-align: center;
        background-color: #21277a;
        color: white;
        box-shadow: 0 14px 40px rgba(0, 22, 84, 0.08);
        border-radius: 50%;
      }

      &-personTitle {
        @include header2-tablet-style;
      }

      &-jobTitle {
        @include pargraph-tablet-style;
        margin: 15px 0;
        font-size: 18px;
        color: #c6cbd3;
      }

      &-fromTitle {
        @include subheader-tablet-style;
        color: #3063AE;
      }

      &-buttons {
        @include flex-display-row;
      }
      &-contactButton {
        background-color: #faa916;
        color: white;
        border: none;
        padding: 10px 30px;
        border-radius: 30px 0 0 30px;
        margin: 20px 0;

        &:focus {
          outline: none;
          border: none;
        }
      }
      &-applyButton {
        background-color: #fff;
        color: #faa916;
        border: 1px dashed #faa916;
        padding: 10px 30px;
        border-radius: 0 30px 30px 0;
        margin: 20px 0;
      }
    }

    &__right2 {
      width: 100% !important;
      box-shadow: none;
    }
  }
}
#propertyHeader .btn-success {
  border: 1px solid #4951e1 !important;
  background: transparent !important;
  border-radius: 3px;
  padding: 10px 24px;
  color: #4951e1;
  @include menu-tablet-style;
  line-height: 18px;

  &:focus {
    border: 1px solid #4951e1 !important;
    box-shadow: none !important;
  }
}
