@import "../../styles/base.scss";
.main__secondhero {
  @include flex-display-row;
  align-items: center;
  justify-content: flex-start;
  height: 59vh;
  background:  url('../../assets/images/hero.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: initial;
}