@import "../../styles/base.scss";

.main__header {
  display: none;
  @include tablet-size {    
    @include flex-display-row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    padding: 15px 24px;
    text-shadow: 0px 0px 2px #131415;
  }

  @include desktop-size {
    padding: $desktop-margin;
  }

  &-logo {
    padding: 16px;
    @include tablet-size {
      padding: 0;
    }
    & img {
      width: 60%;
    }
  }

  &-nav {
    width: 100%;

    &__list {
      @include flex-display-row;
      justify-content: flex-end;
      list-style: none;
      padding: 0;
      margin: 0;

      &-item {
        width: 50%;

        @include tablet-size {
          width: auto;
          margin: 0 5px;
        }
        @include desktop-size {
          margin: 0;
          margin-left: 56px;
        }
      }

      &-link {
        text-decoration: none;
        color: $white-text-color;
      }
    }
  }
}
