@import "../../styles/base.scss";

.main__header {
  display: none;
  @include tablet-size {    
    @include flex-display-row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    padding: 15px 24px;
  }

  @include desktop-size {
    padding: 20px 180px;
  }

  &-logo {
    padding: 16px;
    @include tablet-size {
      padding: 0;
      width: 45%;
    }
    & img {
      width: 50%;
    }
  }

  &-nav {
    width: 100%;

    &__list {
      @include flex-display-row;
      justify-content: flex-end;
      align-items: center;
      list-style: none;
      padding: 0;
      margin: 0;

      &-item {
        @include tablet-size {
          width: auto;
          padding: 0 24px;
          @include menu-tablet-style;
        }
        @include desktop-size {
          margin: 0;
        }
        &:hover{
          border-top: 3px solid white;
          padding-top: 5px;
        }
        &:last-child {
          &:hover {
            border: none;
          }
        }
      }

      &-link {
        text-decoration: none;
        color: $white-text-color;
      }

      &-button {
        border: 1px solid white;
        background: transparent;
        border-radius: 3px;
        padding: 8px 24px;
        color: white;
        @include menu-tablet-style;
        line-height: 18px;
      }
    }
  }
}
