@import "../../styles/base.scss";
.search__form {
  @include flex-display-row;
  justify-content: center;
  padding: 20px 0;
  border-top: 1px solid #dcebfb;
  border-bottom: 1px solid #dcebfb;
  margin: 0 -20px;

  &-select {
    margin-right: 25px;
    background-color: white;
    border: 1px solid #f0f0f0;
    color: #3c3956;
    border-radius: 5px;
    padding: 8px 10px;

    &:focus {
      outline: none;
    }
  }

  &-submit {
    background-color: #faa916;
    color: white;
    border: none;
    padding: 8px 10px;
    border-radius: 5px;

    &:hover {
      border:1px solid #faa916;
      background-color: white;
      color: #3c3956;
    }
  }
}
