@import './variables.scss';
@import './mixins.scss';

.App {
    @include flex-display-column;
}
.main {
    margin: $mobile-margin;

    @include tablet-size {
      margin: $tablet-margin;
    }
    @include desktop-size {
      margin: $desktop-margin;
    }
}
html, body {
    box-sizing: border-box;
    background-color: white !important;
    margin: 0;
    @include pargraph-mobile-style;

    @include tablet-size {
      @include pargraph-tablet-style;
    }

    & a:hover{
      text-decoration: none;
    }
}
  *, *:before, *:after {
    box-sizing: inherit;
}